body {
	font-family: 'Thasadith', sans-serif;
	font-size: 15px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.left {
	padding: 20px;
	background-color: #4b6777;
	color: #ce9e62;

}
img {
	width: 180px;
	height:180px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 25px;
}

h5 {
	text-align: center;
	font-size: 30px;
	background-color: #c1432e;
	color: #C0B283;
	margin-bottom: 15px;
	border: 1px solid #ce9e62; 
}

p {
	text-align: justify;
}

.interest {
	text-align: center;
}

#book, #running, #globe {
	display: inline-block;
}


.right {
	background-color: #2c2c2c;
	color: #ce9e62;
	padding: 15px;
}

h1 {
	font-family: 'Parisienne', cursive;
	text-align: center;
	font-size: 100px;
	color: red;
	margin-bottom: 10px;
}

h3 {
	font-family: 'Thasadith', sans-serif;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	margin-bottom: 45px;
	margin-top: 10px;
}

hr {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -4px;
	border-color: #C0B283;

}

 i {
 	margin: 10px;
 	color: #C0B283;

 }

.education {
	display: grid;
	grid-template-columns: 200px 2fr;
	grid-row-gap: 15px;
}

.work {
	display: grid;
	grid-template-columns: 200px 2fr;
	grid-row-gap: 15px;

}


 .right > p {
 	margin: 15px;
 }

 .top, .middle, .bottom {
 	font-size: 25px;
 	font-weight: bold;
 }




