body {
	font: 11px/1.5 arial;
	color: #49494b;
	margin: 0px auto;
	display: grid;
	grid-template: repeat(4, auto) / 1fr 1fr;
	grid-template-areas:
	"h h"
	"p m"
	"i c"
	"a a"
}

header {
	grid-area: h;
}

#photo {
	grid-area: p;
}

#contact {
	grid-area: c;
}

#about {
	grid-area: m;
}

#interest {
	grid-area: i;
}

article {
	grid-area: a;
	margin-top: -0.5em;
}

.container {
	padding: 0px 5px;
}
/* Header styling */
header {
	text-align: center;
	padding: 10px 10px;
	background-color: #49494b;
	border: 1px solid #d1bfa7;
}

header h1 {
	font-family: 'Parisienne';
	font-size: 30px;
	font-weight: bold;
	color: #d1bfa7;
	margin-bottom: -15px;
}

header h3 {
	color: #d1bfa7;

}

section {
	background-color: #49494b;
}

section h5 {
	text-align: center;
	background-color: #bd8c7d;
	color: #ffffff ;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-top: -1px;
	border-top: 1px solid #d1bfa7;
	border-bottom: 1px solid #d1bfa7;

}

#container-header {
	display: block;
}

/* Image styling */
#photo {
	background-color: #49494b;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #d1bfa7; 
	border-right: 1px solid #d1bfa7;
	border-bottom: 1px solid #d1bfa7;
}

img {
	margin: 0px auto;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

/* About section styling */

#about {
	text-align: justify;
	padding-left: 0px 5px;
	color: white;
	border-right: 1px solid #d1bfa7; 
	border-bottom: 1px solid #d1bfa7;
} 

/* Interest section styling */

#interest {
	border-left: 1px solid #d1bfa7;
	border-right: 1px solid #d1bfa7;
	border-bottom: 1px solid #d1bfa7;
}

#interest .container {
	text-align: center;	
}

.box {
	display: inline-block;
	margin: 5px;
	font-size: 20px;
}

/* Contact section styling */

#contact {
	border-right: 1px solid #d1bfa7; 
	border-bottom: 1px solid #d1bfa7;
}

#contact .container {
	text-align: left;
	font-size: 10px;
	color: white;
}

article {
	padding: 5px;
}

i {
	color: #d1bfa7;
}

hr {
	color: #d1bfa7;
	margin-top: -10px;
}

article i {
	padding-right: 5px;
}

@media (min-width: 768px) {
	body {
		width: 768px;
		margin: 0px auto;
		font: 13px/1.5 arial;
		padding: 0px;
		display: grid;
		grid-template: repeat(4, auto) / 220px 548px;
		grid-template-areas:
		"p h"
		"c a"
		"m a"
		"i a"
	}

	header {
		grid-area: h;
		background-color: #FFF;
		border: none;
	}

	#photo {
		grid-area: p;
		border: 1px solid #d1bfa7;
	}

	#contact {
		grid-area: c;
		border: 1px solid #d1bfa7;
	}

	#about {
		grid-area: m;
		border: 1px solid #d1bfa7;
	}

	#interest {
		grid-area: i;
		border: 1px solid #d1bfa7;
	}

	article {
		grid-area: a;
	}

	/* header styling */

	header h1 {
		font-family: 'Parisienne';
		color: #d1bfa7;
		font-size: 5em;
	}

	/* image styling */
	img {
		display: flex;
		flex-direction: row;
		width: 12em;
		height: 12em;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		padding: 1em;
	}

	section h5 {
		font-size: 1em;
		padding: 0px 5px;
		border: 1px 0px solid #d1bfa7;
	}

	/* contact section styling */

	#contact .container {
		text-align: left;
		font-size: 13px;
		color: #FFF;
	}

	/* about section styling */

	#about .container p {
		font-size: 13px;
		padding: 0px 5px;
		color: #FFF;

	}

	/* study styling */
	#study {
		display: grid;
		grid-template: repeat(3 1fr) / 152px 396px;
		grid-template-areas: 
		"n o"
		"q r"
		"s t"
	}

	#one {
		grid-area: n;
		width: 145px;
	}

	#two {
		grid-area: o;
		margin-top: -14px;
		width: 403px;
	}

	#three {
		grid-area: q;
		width: 145px;
	}

	#four {
		grid-area: r;
		margin-top: -14px;
		width: 403px;
	}

	#five {
		grid-area: s;
		width: 145px;
	}

	#six {
		grid-area: t;
		margin-top: -14px;
		width: 403px;
	}

	/* work styling */

	#work {
		display: grid;
		grid-template: repeat(3 1fr) / 145px 393px;
		grid-template-areas: 
		"u v"
		"w x"
		"y z"
	}

	#seven {
		grid-area: u;
		width: 145px;
	}

	#eight {
		grid-area: v;
		margin-top: -14px;
		width: 393px;
	}

	#nine {
		grid-area: w;
		width: 145px;
	}

	#ten {
		grid-area: x;
		margin-top: -14px;
		width: 393px;
	}

	#eleven {
		grid-area: y;
		width: 145px;
	}

	#twelve {
		grid-area: z;
		margin-top: -14px;
		width: 393px;
	}

	.content {
		text-align: justify;
		padding-right: 10px;
	}

	.indent {
		display: table;
	}

	.indent .icon, .indent p {
		display: table-cell;
	}
}

@media (min-width: 1100px) {
	body {
		width: 1100px;
		margin: 0px auto;
		font: 16px/1.5 arial;
		padding: 0px;
		display: grid;
		grid-template: repeat(4, auto) / 1fr 2fr;
		grid-template-areas: 
		"p h h"
		"c a a"
		"m a a"
		"i a a"
	}

	header {
		grid-area: h;
		background-color: #FFF;
		border: none;
	}

	header h1 {
		font-family: 'Parisienne';
		font-size: 5em;
		margin-bottom: -10px;
		color: #d1bfa7;
	}

	header h3 {
		font-weight: bolder;
	}

	#photo {
		grid-area: p;
	}

	img {
		display: flex;
		flex-direction: row;
		width: 13em;
		height: 13em;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		padding: 1em; 
	}

	#contact {
		grid-area: c;
	}

	#about {
		grid-area: m;
	}

	#interest {
		grid-area: i;
	}

	article {
		grid-area: a;
	}

	#study {
		display: grid;
		grid-template: repeat(3 1fr) / 1fr 2fr;
		grid-gap: 10px;
		grid-template-areas: 
		"n o"
		"q r"
		"s t"
	}

	#one {
		grid-area: n;
		width: 200px;
	}

	#two {
		grid-area: o;
		margin-top: -15px;
		width: 500px;
	}

	#three {
		grid-area: q;
		width: 200px;
	}

	#four {
		grid-area: r;
		margin-top: -15px;
		width: 500px;
	}

	#five {
		grid-area: s;
		width: 200px;
	}

	#six {
		grid-area: t;
		margin-top: -15px;
		width: 500px;
	}

	#work {
		display: grid;
		grid-template: repeat(3 1fr) / 1fr 2fr;
		grid-gap: 10px;
		grid-template-areas: 
		"u v"
		"w x"
		"y z"
	}

	#seven {
		grid-area: u;
		width: 200px;
	}

	#eight {
		grid-area: v;
		margin-top: -15px;
		width: 500px;
	}

	#nine {
		grid-area: w;
		width: 200px;
	}

	#ten {
		grid-area: x;
		margin-top: -15px;
		width: 500px;
	}

	#eleven {
		grid-area: y;
		width: 200px;
	}

	#twelve {
		grid-area: z;
		margin-top: -15px;
		width: 500px;
	}



}